<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <h1>Week2 - Fav Movies App [Valerii Navalnyi, S00274450]</h1>
  <h2>Movie List</h2>
  <p>
    {{ movies()[1] }}
  </p>
  <ul>
  @for (m of movies(); track m;) {
    <li>
      <button type="button" (click)="favMovie(`${m}`)">Favourite</button>
      {{ m }}
    </li>
  }
  </ul>

  <h2>My Favourites</h2>
  <ul>
  @for (m of favourites(); track m;) {
    <li>
      <button type="button" (click)="deleteMovie($index)">Delete</button>
      {{ m }}
    </li>
  }
  </ul>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
