<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <h1>Week2 - Fav Movies App [Valerii Navalnyi, S00274450]</h1>
  <h2>Movie List</h2>

  <ul>
  @for (m of movieService.movies(); track m; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
      <button type="button" (click)="movieService.addFav(`${m}`)">Favourite</button>
      {{ m.title }}
    </li>
  }
  </ul>

  <h2>My Favourites</h2>
  <ul>
    @if (movieService.favourites().length > 0) {
    <h4>{{ movieService.favourites().length }} favorite movies</h4>
  } @else {
    <h4>No favourite movies found!</h4>
  }
  @for (m of movieService.favourites(); track m; let isEven = $even;) {
    <li [class.evenRow]="isEven" [class.oddRow]="!isEven">
      <button type="button" (click)="movieService.delFav($index)">Delete</button>
      {{ m }}
    </li>
  } 

  

  </ul>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
